.tech-block{ href: "#{root_app_path}tech/show.html", role: 'tech-block'}
  .tech-photo-img{style: "background-image: url('#{root_app_path}images/t150.jpg')"}
  .col-xs-12
    %h4 Трактор Т-150 гусечничный
    %p= partial 'shared/user'
  %a.btn.btn-block.btn-primary.btn-lg{ href: "#{root_app_path}tech/show.html" }
    .row
      .col-xs-6
        6000 р./день
      .col-xs-6
        %strong Заказать

