.tech-block.tech-block-short{ href: "#{root_app_path}tech/show.html", role: 'tech-block'}
  .col-xs-12
    %strong Трактор Т-150 гусечничный
    %a.btn.btn-primary{ href: "#{root_app_path}tech/show.html" }
      .row
        .col-xs-6
          6000 р./день

