.tech-block.tech-block-compact{ href: "#{root_app_path}tech/show.html", role: 'tech-block'}
  .row
    .col-xs-4
      .tech-photo-img{style: "background-image: url('#{root_app_path}images/t150.jpg')"}
        %img{src: empty_image_src, width: '100%'}
    .col-xs-8
      %strong Трактор Т-150 гусечничный
      %br
      = partial 'shared/user'
      %br
      6000 р./день

