body.prototype
  background: #fff

.prototype-container
  padding-top: 70px
  background: #fff

.signup-photo-block
  background: $grayLightest
  height: 320px*0.75
  padding: 320px*0.75/2.5
  text-align: center

.signup-photo-block.photo-block-small
  max-width: 100%
  height: 64px
  padding: 1em

.signup-description
  width: 100%
  height: 3em
