body.prototype
  background: #fff

.prototype-container
  //padding-top: 70px
  background: #fff

$photoblockHeight: 320px*0.3

.signup-photo-block
  background: $grayLightest
  height: $photoblockHeight
  padding: $photoblockHeight/4 0
  text-align: center

.signup-photo-block.photo-block-small
  max-width: 100%
  height: 64px
  padding: 1em

.signup-description
  width: 100%
  height: 3em

.signup-photo-input
  display: block
  position: absolute
  left: -9999px
  top: -9999px
