---
title: Подача объявления (Шаг 2 из 2)
layout: prototype
body_class: prototype
---

.row
  .col-xs-3
    .signup-photo-block.photo-block-small
      = ficon 'camera-1', size: 20, color: 'gray-light'
  .col-xs-9
    %small.text-muted Трактор
    %h4.no-margins Т-150 гусеничный
    %small
      %a{href: ''} изменить
%hr.mini
%small.text-muted
  Добавьте информацию о вашей технике.
  При поступлении заказа на вашу технику мы уведомим вас с помощью SMS.
.row
  .col-md-6.col-md-offset-3
    %form.form-vertical
      %h4 Цена аренды
      .input-group
        %span.input-group-addon в час
        %input.form-control{placeholder: 'обязательно'}
      
      .input-group
        %span.input-group-addon в день
        %input.form-control{placeholder: ''}
      
      %textarea.form-control.signup-description{ placeholder: 'Описание техники' }
        
      %input.form-control{placeholder: 'введите код, полученный по смс'}
      %br
      %p
        не получили SMS-код?
        %a.btn.btn-default.btn-sm{href: 'javascript:confirm("ваш номер 8 906 333 44 55?");alert("код выслан на ваш номер")'} выслать ещё раз
 
      -#%small.text-muted
        Номер телефона используется для авторизации в системе
        и не виден никому, кроме вас.
      %a.btn.btn-primary.btn-lg.btn-block{ href: 'step2.html'} Сохранить



