- page = sitemap.find_resource_by_destination_path('index.html')
- pages = ''
-# page.children.map {|c| c.path.match(/html/) ? pages.push("http://localhost:4567/#{c.path}") : ''}
- page.children.each do |c|
  - if c.path.match(/html/)
    - pages += "http://localhost:4567/#{c.path} "

= pages
